// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Colors
$orange: #fe753f;
$blue: #2e6eff;
$black: #030a1b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
}

::selection {
    background-color: $orange;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    transition: 0.3s ease;

    &.left {
        margin-left: -50px;
    }

    &::-webkit-scrollbar {
        background-color: #c2c2c2;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #303030;
        &:hover {
            background-color: #141414;
        }
        &:active {
            background-color: #3b3b3b;
        }
    }
}

.container {
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
}
.header__section {
    position: fixed;
    top: 0;
    left: 50%;
    width: 101%;
    height: 100px;
    background-color: #ffffffbb;
    transform: translate(-50%, 0);
    transition: 0.2s ease;
    z-index: 999;

    &.navChange {
        background-color: #ffffff;
        height: 80px;
        .header__navbar {
            height: 80px;
        }
    }
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: 0.2s ease;

    .logo {
        margin-right: 25px;
        img {
            min-width: 100px;
            width: 100%;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            li {
                a {
                    padding: 15px 25px;
                    font-size: 16px;
                    font-weight: 500;
                    color: $black;
                    opacity: 0.7;
                    transition: 0.2s ease;
                    &:hover {
                        color: $orange;
                        opacity: 1;
                    }
                }
            }
        }

        .header__button {
            margin-left: 25px;
            .btn {
                padding: 15px 30px;
                border: none;
                border-radius: 5px;
                background-color: $blue;
                color: #ffffff;
                font-size: 16px;
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                    background-color: #2155cc;
                }
            }
        }
    }

    .burger .bar {
        width: 28px;
        height: 3px;
        background-color: $black;
        margin: 5px 0;
    }
    .burger {
        cursor: pointer;
        display: none;
    }

    .navside {
        position: absolute;
        top: 0;
        right: 0;
        width: 385px;
        max-width: 100%;
        height: 100vh;
        padding: 0 20px;
        background-color: $black;
        transform: translateX(110%);
        transition: 0.2s ease;

        &.nav-active {
            transform: translateX(0);
        }

        .closeBtn {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            .line {
                &:nth-child(1) {
                    background-color: #ffffff;
                    width: 28px;
                    height: 4px;
                    transform: rotate(-45deg) translate(-8px, 17px);
                }
                &:nth-child(2) {
                    background-color: #ffffff;
                    width: 28px;
                    height: 4px;
                    transform: rotate(45deg) translate(14px, 5px);
                }
            }
        }

        ul {
            margin-top: 60px;
            li {
                a {
                    display: block;
                    padding: 8px 0;
                    color: #ffffff;
                    transition: 0.2s ease;
                    &:hover {
                        padding-left: 5px;
                        color: $orange;
                    }
                }
            }
        }
        .header__button {
            margin-top: 25px;
            .btn {
                padding: 15px 30px;
                border: none;
                border-radius: 5px;
                background-color: $blue;
                color: #ffffff;
                font-size: 16px;
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                    background-color: #2155cc;
                }
            }
        }
    }
}

.header__content {
    padding-top: 170px;
    .hdr {
        display: flex;
        justify-content: space-between;

        .content__text_item {
            max-width: 558px;
            margin-top: 60px;
            .title {
                font-size: 61px;
                color: $black;
                font-weight: 600;
                line-height: 73px;
            }
            .content__text {
                font-size: 18px;
                color: $black;
                opacity: 0.7;
                margin-top: 30px;
                font-weight: 500;
                line-height: 27px;
            }

            .search__block {
                position: relative;
                margin-top: 40px;
                .select__nav {
                    max-width: 190px;
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            a {
                                padding: 15px 25px;
                                background-color: #ffffff;
                                color: $black;
                                opacity: 0.7;
                                transition: 0.2s ease;
                                &:hover {
                                    color: $orange;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .block_items {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px 0;
                    background-color: #ffffff;
                    border-radius: 5px;
                    padding: 30px 25px;
                    z-index: 50;
                    .select_item {
                        a {
                            color: $black;
                            opacity: 0.7;
                            transition: 0.1s ease;
                            &:hover {
                                opacity: 1;
                            }
                            .sel_icon {
                                margin-left: 10px;
                            }
                        }
                        .select_name {
                            margin-top: 10px;
                            font-size: 22px;
                            color: $black;
                            font-weight: 500;
                        }
                    }

                    .search__btn {
                        grid-row: 2;
                        grid-column: 1;
                        .btn {
                            padding: 15px 20px;
                            border: none;
                            border-radius: 5px;
                            background-color: $blue;
                            color: #ffffff;
                            font-size: 16px;
                            cursor: pointer;
                            transition: 0.2s ease;
                            &:hover {
                                background-color: #2155cc;
                            }
                            .srch_icon {
                                margin-right: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .content__image_item {
            img {
                width: 100%;
            }
        }
    }
}

.toUpBtn {
    position: fixed;
    top: 105%;
    right: 1.5%;
    transition: 0.3s ease;
    z-index: 120;

    &.activeBtn {
        position: fixed;
        top: 88%;
    }
    a {
        background-color: $blue;
        color: #ffffff;
        font-size: 22px;
        padding: 10px 15px;
        border-radius: 5px;
        &:hover {
            background-color: #2155cc;
        }
    }
}

.partners {
    margin-top: 140px;
    text-align: center;
}
.partners__images {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.properties__section {
    margin-top: 140px;
    .properties_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .view {
            a {
                color: #fe753f;
                font-weight: 600;
                transition: 0.2s ease;
                &:hover {
                    color: #9e3911;
                }
            }
        }
    }
}
.properties__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    margin-top: 70px;
    .properties_item {
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        img {
            width: 100%;
        }

        .item_info {
            padding: 25px;
            background: #ffffff;
            .item__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    &:nth-child(1) {
                        color: $black;
                        font-size: 22px;
                        font-weight: 600;
                    }
                    &:nth-child(2) {
                        color: #bbbbbb;
                        cursor: pointer;
                        padding: 5px;
                        font-size: 16px;
                        transition: 0.2s ease;
                        &:hover {
                            color: #e61e14;
                        }
                    }
                }
            }
            .location {
                margin-top: 10px;
                font-size: 16px;
                color: $black;
                opacity: 0.7;
                .loc_icon {
                    margin-right: 10px;
                }
            }

            .regime {
                display: flex;
                align-items: center;
                margin-top: 20px;
                .regime_time {
                    font-size: 14px;
                    color: $black;
                    &:nth-child(2) {
                        margin-left: 15px;
                    }
                    &:nth-child(3) {
                        margin-left: 15px;
                    }
                    img {
                        width: 16px;
                        margin-right: 5px;
                        display: inline;
                    }
                }
            }

            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 26px;
                p {
                    color: $orange;
                    font-size: 22px;
                    font-weight: 600;
                }
                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    background-color: $blue;
                    font-size: 16px;
                    color: #ffffff;
                    cursor: pointer;
                    transition: 0.2s ease;
                    &:hover {
                        background-color: #2155cc;
                    }
                }
            }
        }
    }
}

.about__section {
    margin-top: 140px;
    padding: 70px 0;
    background-color: #f9f9f9;

    .about_title {
        text-align: center;
    }
    .title_text {
        margin-top: 10px;
        max-width: 728px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.7;
    }
}

.about__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 70px;
    .blocks_item {
        .block {
            margin-top: 30px;
            padding: 25px;
            background-color: #ffffff;
            border-radius: 10px;
            .block__title {
                margin-top: 15px;
                font-size: 22px;
                line-height: 33px;
                font-weight: 600;
            }
            .block__text {
                margin-top: 10px;
                line-height: 24px;
                font-size: 16px;
                color: $black;
                opacity: 0.7;
            }
        }
    }

    .item__image {
        max-width: 362px;
        min-width: 200px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.blog__section {
    margin-top: 140px;
    .blog_title {
        text-align: center;
    }
    .review {
        color: $orange;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 8%;
        text-transform: uppercase;
        font-weight: 600;
    }
    title {
        margin-top: 10px;
    }
}
.blog__items {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    .blog_item {
        width: 100%;
        max-width: 558px;
        background: #ffffff;
        border: 2px solid rgba(254, 117, 63, 0.1);
        border-radius: 10px;
        padding: 30px;
        .people__block {
            display: flex;
            justify-content: space-between;
        }
        .people {
            display: flex;
            justify-content: space-between;
            .people_name {
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
                color: $black;
                margin-left: 33px;
                span {
                    font-size: 16px;
                    color: $black;
                    opacity: 0.7;
                    font-weight: 400;
                }
            }
        }

        .item__text {
            margin-top: 30px;
            line-height: 24px;
            color: $black;
            opacity: 0.7;
        }
    }
}
.blog_items__changer {
    text-align: center;
    margin-top: 30px;
    .changer {
        width: 12px;
        height: 12px;
        background-color: #c4c4c4;
        border: none;
        border-radius: 50%;
        margin: 0 2px;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover {
            background-color: $blue;
        }
    }
}

.contact__section {
    margin-top: 140px;
}
.contact__container {
    position: relative;
    background-color: #433e89;
    border-radius: 10px;
    padding: 70px 20px 1px;

    .title {
        color: #ffffff;
    }
    .title_text {
        margin-top: 15px;
        max-width: 635px;
        margin: 0 auto;
        color: #ffffff;
        opacity: 0.7;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .contact__title {
        text-align: center;
    }

    .input__item {
        position: relative;
        max-width: 743px;
        margin: 69px auto;
        input {
            width: 100%;
            height: 70px;
            padding: 0 170px 0 30px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            z-index: 11;
        }
        .sub_btn {
            position: absolute;
            top: 50%;
            left: 88.5%;
            transform: translate(-50%, -50%);
            padding: 16px 40px;
            border: none;
            border-radius: 10px;
            background-color: $blue;
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            transition: 0.2s ease;
            &:hover {
                background-color: #2155cc;
            }
        }
    }

    .contact_icon__images {
        img {
            position: absolute;
            top: 7%;
            left: -10%;
            max-width: 190px;
            width: 100%;
            z-index: 1;
            &:nth-child(1) {
                transform: rotate(-30deg);
            }
            &:nth-child(2) {
                position: absolute;
                top: 80%;
                left: 81%;
            }
        }
    }
}

.footer__section {
    margin: 140px 0 50px;
}
.footer__items {
    display: flex;
    justify-content: space-between;
    .footer__item {
        max-width: 300px;
        img {
            width: 75%;
        }
        .footer_text {
            margin-top: 15px;
            color: $black;
            opacity: 0.7;
        }
        .footer__icons {
            margin-top: 25px;
            display: flex;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 8px;
                background-color: $orange;
                color: #ffffff;
                font-size: 15px;
                width: 30px;
                border-radius: 50%;
                border: 1px solid $orange;
                width: 30px;
                height: 30px;
                transition: 0.2s ease;
                &:hover {
                    background: none;
                    color: $black;
                }
            }
        }

        .item_title {
            font-size: 22px;
        }
        ul {
            margin-top: 25px;
            li {
                a {
                    display: block;
                    color: $black;
                    font-size: 16px;
                    font-weight: 500;
                    opacity: 0.9;
                    padding-top: 14px;
                    transition: 0.2s ease;
                    &:hover {
                        color: $orange;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* Create by */
.create {
    text-align: center;
    margin-top: 100px;
    font-weight: 600;
    a {
        position: relative;
        color: $black;
        font-weight: 400;
        transition: 0.2s ease;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $blue;
            transition: 0.2s ease;
        }
        &:hover {
            color: $blue;
            &::after {
                width: 100%;
            }
        }
    }
}

/* ==================== media inquiries for responsive ========================== */

@media screen and (max-width: 1040px) {
    .properties__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .header__navbar {
        .nav-links {
            display: none;
        }
        .burger {
            display: block;
        }
    }

    .header__content {
        background-image: url("../images/header__img.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 20px;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.123);
        .hdr {
            .content__text_item {
                text-align: center;
                margin: 0 auto;
                .title {
                    color: #ffffff;
                    text-shadow: 0 0 7px #000000;
                }
                .content__text {
                    color: #ffffff;
                    text-shadow: 0 0 7px #000000;
                    opacity: 0.9;
                }

                .search__block {
                    text-align: start;
                    .select__nav {
                        padding-bottom: 10px;
                        ul {
                            li {
                                a {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .block_items {
                        text-align: start;
                    }
                }
            }
        }

        .content__image_item {
            display: none;
        }
    }

    .about__items {
        grid-gap: 0 20px;
        .item__image {
            display: none;
        }
    }

    .blog__items {
        flex-direction: column;
        .blog_item {
            max-width: 100%;
            width: 100%;
        }
    }
    .blog_items__changer {
        display: none;
    }

    .contact__container {
        .contact_icon__images {
            display: none;
        }
    }
}

@media screen and (max-width: 840px) {
    .footer__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .partners__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .properties__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__container {
        .input__item {
            .sub_btn {
                position: absolute;
                top: 150%;
                left: 50%;
            }
            input {
                padding: 0 30px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 35px;
        line-height: 40px;
    }
    .header__content {
        .hdr {
            .content__text_item {
                .title {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
    }

    .about__items {
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .header__content {
        .hdr {
            .content__text_item {
                .search__block {
                    .block_items {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        align-items: center;
                        grid-gap: 30px 0;
                    }
                }
            }
        }
    }

    .blog__items {
        .blog_item {
            .people__block {
                display: flex;
                justify-content: center;
                text-align: center;
                .people {
                    flex-direction: column;
                    .people_name {
                        margin-left: 0;
                    }
                }
                .blog__icon {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header__content {
        .hdr {
            .content__text_item {
                .title {
                    font-size: 41px;
                    line-height: 50px;
                }
            }
        }
    }

    .properties__section {
        .properties_title {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 420px) {
    .header__content {
        .hdr {
            .content__text_item {
                .search__block {
                    .block_items {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        .search__btn {
                            grid-row: 4;
                        }
                    }
                }
            }
        }
    }

    .partners {
        margin-top: 120px;
    }

    .partners__images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        .image {
            img {
                width: 100%;
            }
        }
    }

    .footer__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 370px) {
    .title {
        font-size: 27px;
    }

    .header__content {
        .content__text_item {
            .title {
                font-size: 37px;
                line-height: 47px;
            }
        }
    }

    .properties__items {
        .properties_item {
            .item_info {
                .price {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
}

// min-width
@media screen and (min-width: 993px) {
    body {
        &.left {
            margin-left: 0px;
        }
    }
    .header__navbar {
        .navside {
            position: absolute;
            right: -105%;
        }
    }
}
