@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
}

::-moz-selection {
  background-color: #fe753f;
  color: #ffffff;
}

::selection {
  background-color: #fe753f;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
body.left {
  margin-left: -50px;
}
body::-webkit-scrollbar {
  background-color: #c2c2c2;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #303030;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #141414;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #3b3b3b;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  line-height: 66px;
}

.header__section {
  position: fixed;
  top: 0;
  left: 50%;
  width: 101%;
  height: 100px;
  background-color: #ffffffbb;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 999;
}
.header__section.navChange {
  background-color: #ffffff;
  height: 80px;
}
.header__section.navChange .header__navbar {
  height: 80px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .logo {
  margin-right: 25px;
}
.header__navbar .logo img {
  min-width: 100px;
  width: 100%;
}
.header__navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navbar .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar .nav-links ul li a {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #030a1b;
  opacity: 0.7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .nav-links ul li a:hover {
  color: #fe753f;
  opacity: 1;
}
.header__navbar .nav-links .header__button {
  margin-left: 25px;
}
.header__navbar .nav-links .header__button .btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #2e6eff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .nav-links .header__button .btn:hover {
  background-color: #2155cc;
}
.header__navbar .burger .bar {
  width: 28px;
  height: 3px;
  background-color: #030a1b;
  margin: 5px 0;
}
.header__navbar .burger {
  cursor: pointer;
  display: none;
}
.header__navbar .navside {
  position: absolute;
  top: 0;
  right: 0;
  width: 385px;
  max-width: 100%;
  height: 100vh;
  padding: 0 20px;
  background-color: #030a1b;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .navside.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header__navbar .navside .closeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.header__navbar .navside .closeBtn .line:nth-child(1) {
  background-color: #ffffff;
  width: 28px;
  height: 4px;
  -webkit-transform: rotate(-45deg) translate(-8px, 17px);
          transform: rotate(-45deg) translate(-8px, 17px);
}
.header__navbar .navside .closeBtn .line:nth-child(2) {
  background-color: #ffffff;
  width: 28px;
  height: 4px;
  -webkit-transform: rotate(45deg) translate(14px, 5px);
          transform: rotate(45deg) translate(14px, 5px);
}
.header__navbar .navside ul {
  margin-top: 60px;
}
.header__navbar .navside ul li a {
  display: block;
  padding: 8px 0;
  color: #ffffff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .navside ul li a:hover {
  padding-left: 5px;
  color: #fe753f;
}
.header__navbar .navside .header__button {
  margin-top: 25px;
}
.header__navbar .navside .header__button .btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #2e6eff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__navbar .navside .header__button .btn:hover {
  background-color: #2155cc;
}

.header__content {
  padding-top: 170px;
}
.header__content .hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content .hdr .content__text_item {
  max-width: 558px;
  margin-top: 60px;
}
.header__content .hdr .content__text_item .title {
  font-size: 61px;
  color: #030a1b;
  font-weight: 600;
  line-height: 73px;
}
.header__content .hdr .content__text_item .content__text {
  font-size: 18px;
  color: #030a1b;
  opacity: 0.7;
  margin-top: 30px;
  font-weight: 500;
  line-height: 27px;
}
.header__content .hdr .content__text_item .search__block {
  position: relative;
  margin-top: 40px;
}
.header__content .hdr .content__text_item .search__block .select__nav {
  max-width: 190px;
}
.header__content .hdr .content__text_item .search__block .select__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content .hdr .content__text_item .search__block .select__nav ul li a {
  padding: 15px 25px;
  background-color: #ffffff;
  color: #030a1b;
  opacity: 0.7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__content .hdr .content__text_item .search__block .select__nav ul li a:hover {
  color: #fe753f;
  opacity: 1;
}
.header__content .hdr .content__text_item .search__block .block_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 25px;
  z-index: 50;
}
.header__content .hdr .content__text_item .search__block .block_items .select_item a {
  color: #030a1b;
  opacity: 0.7;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.header__content .hdr .content__text_item .search__block .block_items .select_item a:hover {
  opacity: 1;
}
.header__content .hdr .content__text_item .search__block .block_items .select_item a .sel_icon {
  margin-left: 10px;
}
.header__content .hdr .content__text_item .search__block .block_items .select_item .select_name {
  margin-top: 10px;
  font-size: 22px;
  color: #030a1b;
  font-weight: 500;
}
.header__content .hdr .content__text_item .search__block .block_items .search__btn {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}
.header__content .hdr .content__text_item .search__block .block_items .search__btn .btn {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2e6eff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__content .hdr .content__text_item .search__block .block_items .search__btn .btn:hover {
  background-color: #2155cc;
}
.header__content .hdr .content__text_item .search__block .block_items .search__btn .btn .srch_icon {
  margin-right: 10px;
  font-size: 14px;
}
.header__content .hdr .content__image_item img {
  width: 100%;
}

.toUpBtn {
  position: fixed;
  top: 105%;
  right: 1.5%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 120;
}
.toUpBtn.activeBtn {
  position: fixed;
  top: 88%;
}
.toUpBtn a {
  background-color: #2e6eff;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 5px;
}
.toUpBtn a:hover {
  background-color: #2155cc;
}

.partners {
  margin-top: 140px;
  text-align: center;
}

.partners__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

.properties__section {
  margin-top: 140px;
}
.properties__section .properties_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties__section .properties_title .view a {
  color: #fe753f;
  font-weight: 600;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.properties__section .properties_title .view a:hover {
  color: #9e3911;
}

.properties__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  margin-top: 70px;
}
.properties__items .properties_item {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.properties__items .properties_item img {
  width: 100%;
}
.properties__items .properties_item .item_info {
  padding: 25px;
  background: #ffffff;
}
.properties__items .properties_item .item_info .item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties__items .properties_item .item_info .item__title p:nth-child(1) {
  color: #030a1b;
  font-size: 22px;
  font-weight: 600;
}
.properties__items .properties_item .item_info .item__title p:nth-child(2) {
  color: #bbbbbb;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.properties__items .properties_item .item_info .item__title p:nth-child(2):hover {
  color: #e61e14;
}
.properties__items .properties_item .item_info .location {
  margin-top: 10px;
  font-size: 16px;
  color: #030a1b;
  opacity: 0.7;
}
.properties__items .properties_item .item_info .location .loc_icon {
  margin-right: 10px;
}
.properties__items .properties_item .item_info .regime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.properties__items .properties_item .item_info .regime .regime_time {
  font-size: 14px;
  color: #030a1b;
}
.properties__items .properties_item .item_info .regime .regime_time:nth-child(2) {
  margin-left: 15px;
}
.properties__items .properties_item .item_info .regime .regime_time:nth-child(3) {
  margin-left: 15px;
}
.properties__items .properties_item .item_info .regime .regime_time img {
  width: 16px;
  margin-right: 5px;
  display: inline;
}
.properties__items .properties_item .item_info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}
.properties__items .properties_item .item_info .price p {
  color: #fe753f;
  font-size: 22px;
  font-weight: 600;
}
.properties__items .properties_item .item_info .price button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2e6eff;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.properties__items .properties_item .item_info .price button:hover {
  background-color: #2155cc;
}

.about__section {
  margin-top: 140px;
  padding: 70px 0;
  background-color: #f9f9f9;
}
.about__section .about_title {
  text-align: center;
}
.about__section .title_text {
  margin-top: 10px;
  max-width: 728px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 70px;
}
.about__items .blocks_item .block {
  margin-top: 30px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}
.about__items .blocks_item .block .block__title {
  margin-top: 15px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}
.about__items .blocks_item .block .block__text {
  margin-top: 10px;
  line-height: 24px;
  font-size: 16px;
  color: #030a1b;
  opacity: 0.7;
}
.about__items .item__image {
  max-width: 362px;
  min-width: 200px;
}
.about__items .item__image img {
  width: 100%;
  height: 100%;
}

.blog__section {
  margin-top: 140px;
}
.blog__section .blog_title {
  text-align: center;
}
.blog__section .review {
  color: #fe753f;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 8%;
  text-transform: uppercase;
  font-weight: 600;
}
.blog__section title {
  margin-top: 10px;
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.blog__items .blog_item {
  width: 100%;
  max-width: 558px;
  background: #ffffff;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
  padding: 30px;
}
.blog__items .blog_item .people__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__items .blog_item .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__items .blog_item .people .people_name {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #030a1b;
  margin-left: 33px;
}
.blog__items .blog_item .people .people_name span {
  font-size: 16px;
  color: #030a1b;
  opacity: 0.7;
  font-weight: 400;
}
.blog__items .blog_item .item__text {
  margin-top: 30px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
}

.blog_items__changer {
  text-align: center;
  margin-top: 30px;
}
.blog_items__changer .changer {
  width: 12px;
  height: 12px;
  background-color: #c4c4c4;
  border: none;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.blog_items__changer .changer:hover {
  background-color: #2e6eff;
}

.contact__section {
  margin-top: 140px;
}

.contact__container {
  position: relative;
  background-color: #433e89;
  border-radius: 10px;
  padding: 70px 20px 1px;
}
.contact__container .title {
  color: #ffffff;
}
.contact__container .title_text {
  margin-top: 15px;
  max-width: 635px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.contact__container .contact__title {
  text-align: center;
}
.contact__container .input__item {
  position: relative;
  max-width: 743px;
  margin: 69px auto;
}
.contact__container .input__item input {
  width: 100%;
  height: 70px;
  padding: 0 170px 0 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  z-index: 11;
}
.contact__container .input__item .sub_btn {
  position: absolute;
  top: 50%;
  left: 88.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 16px 40px;
  border: none;
  border-radius: 10px;
  background-color: #2e6eff;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.contact__container .input__item .sub_btn:hover {
  background-color: #2155cc;
}
.contact__container .contact_icon__images img {
  position: absolute;
  top: 7%;
  left: -10%;
  max-width: 190px;
  width: 100%;
  z-index: 1;
}
.contact__container .contact_icon__images img:nth-child(1) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.contact__container .contact_icon__images img:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 81%;
}

.footer__section {
  margin: 140px 0 50px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__items .footer__item {
  max-width: 300px;
}
.footer__items .footer__item img {
  width: 75%;
}
.footer__items .footer__item .footer_text {
  margin-top: 15px;
  color: #030a1b;
  opacity: 0.7;
}
.footer__items .footer__item .footer__icons {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__items .footer__item .footer__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
  background-color: #fe753f;
  color: #ffffff;
  font-size: 15px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fe753f;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__items .footer__item .footer__icons a:hover {
  background: none;
  color: #030a1b;
}
.footer__items .footer__item .item_title {
  font-size: 22px;
}
.footer__items .footer__item ul {
  margin-top: 25px;
}
.footer__items .footer__item ul li a {
  display: block;
  color: #030a1b;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
  padding-top: 14px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__items .footer__item ul li a:hover {
  color: #fe753f;
  opacity: 1;
}

/* Create by */
.create {
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
}
.create a {
  position: relative;
  color: #030a1b;
  font-weight: 400;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.create a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2e6eff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.create a:hover {
  color: #2e6eff;
}
.create a:hover::after {
  width: 100%;
}

/* ==================== media inquiries for responsive ========================== */
@media screen and (max-width: 1040px) {
  .properties__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .header__navbar .nav-links {
    display: none;
  }
  .header__navbar .burger {
    display: block;
  }

  .header__content {
    background-image: url("../images/header__img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 20px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.123);
  }
  .header__content .hdr .content__text_item {
    text-align: center;
    margin: 0 auto;
  }
  .header__content .hdr .content__text_item .title {
    color: #ffffff;
    text-shadow: 0 0 7px #000000;
  }
  .header__content .hdr .content__text_item .content__text {
    color: #ffffff;
    text-shadow: 0 0 7px #000000;
    opacity: 0.9;
  }
  .header__content .hdr .content__text_item .search__block {
    text-align: start;
  }
  .header__content .hdr .content__text_item .search__block .select__nav {
    padding-bottom: 10px;
  }
  .header__content .hdr .content__text_item .search__block .select__nav ul li a {
    opacity: 1;
  }
  .header__content .hdr .content__text_item .search__block .block_items {
    text-align: start;
  }
  .header__content .content__image_item {
    display: none;
  }

  .about__items {
    grid-gap: 0 20px;
  }
  .about__items .item__image {
    display: none;
  }

  .blog__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__items .blog_item {
    max-width: 100%;
    width: 100%;
  }

  .blog_items__changer {
    display: none;
  }

  .contact__container .contact_icon__images {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .footer__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .partners__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .properties__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__container .input__item .sub_btn {
    position: absolute;
    top: 150%;
    left: 50%;
  }
  .contact__container .input__item input {
    padding: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 35px;
    line-height: 40px;
  }

  .header__content .hdr .content__text_item .title {
    font-size: 50px;
    line-height: 60px;
  }

  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .header__content .hdr .content__text_item .search__block .block_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 30px 0;
  }

  .blog__items .blog_item .people__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .blog__items .blog_item .people__block .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__items .blog_item .people__block .people .people_name {
    margin-left: 0;
  }
  .blog__items .blog_item .people__block .blog__icon {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header__content .hdr .content__text_item .title {
    font-size: 41px;
    line-height: 50px;
  }

  .properties__section .properties_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .header__content .hdr .content__text_item .search__block .block_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  .header__content .hdr .content__text_item .search__block .block_items .search__btn {
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .partners {
    margin-top: 120px;
  }

  .partners__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .partners__images .image img {
    width: 100%;
  }

  .footer__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 370px) {
  .title {
    font-size: 27px;
  }

  .header__content .content__text_item .title {
    font-size: 37px;
    line-height: 47px;
  }

  .properties__items .properties_item .item_info .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (min-width: 993px) {
  body.left {
    margin-left: 0px;
  }

  .header__navbar .navside {
    position: absolute;
    right: -105%;
  }
}