/* ==================== media queries for responsive ========================== */

@media screen and (max-width: 1040px) {
    .properties__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .header__navbar {
        .nav-links {
            display: none;
        }
        .burger {
            display: block;
        }
    }

    .header__content {
        background-image: url("../images/header__img.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 20px;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.123);
        .hdr {
            .content__text_item {
                text-align: center;
                margin: 0 auto;
                .title {
                    color: #ffffff;
                    text-shadow: 0 0 7px #000000;
                }
                .content__text {
                    color: #ffffff;
                    text-shadow: 0 0 7px #000000;
                    opacity: 0.9;
                }

                .search__block {
                    text-align: start;
                    .select__nav {
                        padding-bottom: 10px;
                        ul {
                            li {
                                a {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .block_items {
                        text-align: start;
                    }
                }
            }
        }

        .content__image_item {
            display: none;
        }
    }

    .about__items {
        grid-gap: 0 20px;
        .item__image {
            display: none;
        }
    }

    .blog__items {
        flex-direction: column;
        .blog_item {
            max-width: 100%;
            width: 100%;
        }
    }
    .blog_items__changer {
        display: none;
    }

    .contact__container {
        .contact_icon__images {
            display: none;
        }
    }
}

@media screen and (max-width: 840px) {
    .footer__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .partners__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .properties__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__container {
        .input__item {
            .sub_btn {
                position: absolute;
                top: 150%;
                left: 50%;
            }
            input {
                padding: 0 30px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 35px;
        line-height: 40px;
    }
    .header__content {
        .hdr {
            .content__text_item {
                .title {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
    }

    .about__items {
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .header__content {
        .hdr {
            .content__text_item {
                .search__block {
                    .block_items {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        align-items: center;
                        grid-gap: 30px 0;
                    }
                }
            }
        }
    }

    .blog__items {
        .blog_item {
            .people__block {
                .people {
                    flex-direction: column;
                    margin: 0 auto;
                    .people_name {
                        margin-top: 10px;
                        margin-left: 0;
                        text-align: center;
                    }
                }
                .blog__icon {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header__content {
        .hdr {
            .content__text_item {
                .title {
                    font-size: 41px;
                    line-height: 50px;
                }
            }
        }
    }

    .properties__section {
        .properties_title {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 420px) {
    .header__content {
        .hdr {
            .content__text_item {
                .search__block {
                    .block_items {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        .search__btn {
                            grid-row: 4;
                        }
                    }
                }
            }
        }
    }

    .partners {
        margin-top: 120px;
    }

    .partners__images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        .image {
            img {
                width: 100%;
            }
        }
    }

    .footer__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 370px) {
    .title {
        font-size: 27px;
    }

    .header__content {
        .content__text_item {
            .title {
                font-size: 37px;
                line-height: 47px;
            }
        }
    }

    .properties__items {
        .properties_item {
            .item_info {
                .price {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
}

// min-width
@media screen and (min-width: 993px) {
    body {
        &.left {
            margin-left: 0px;
        }
    }
    .header__navbar {
        .navside {
            position: absolute;
            right: -105%;
        }
    }
}
